body {
  margin: 0;
  padding: 0;
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 24px 24px -10px 24px;
  position: relative;
  min-height: 95vh;
  background-color: #fff;
  border-radius: 30px;
  padding: 0 20px;
}